<div class="container">
  <div class="row">
    <h1 class="padding-down">訂單內容</h1>
    <table class="table table-striped table-bordered">
      <tr>
        <th>金流單號</th>
        <td>{{order.info.id}}</td>
        <th>付款狀態</th>
        <td>{{order.info.status}}</td>
      </tr>
      <tr>
        <th>總金額</th>
        <td>{{order.info.cost}}</td>
        <th>付款方式</th>
        <td>{{order.info.pay_method}}</td>
      </tr>
      <tr>
        <th>贊助者姓名</th>
        <td>{{order.info.sponsor_name}}</td>
        <th>訂單建立時間</th>
        <td>{{order.info.create_time}}</td>
      </tr>
      <tr>
        <th>贊助者 ID</th>
        <td>{{order.info.sponsor_id}}</td>
        <th>付款時間</th>
        <td>{{order.info.pay_time}}</td>
      </tr>
      <tr>
        <th>贊助者 E-Mail</th>
        <td>{{order.info.sponsor_email}}</td>
        <th>退款時間</th>
        <td>{{order.info.refund_time}}</td>
      </tr>
      <tr>
        <th colspan="4">出貨記錄</th>
      </tr>
      <tr>
        <th>出貨狀態</th>
        <td colspan="3">
          <label class="radio-inline">
            <input type="radio" ng-model="order.info.ship_status" value="stateless">
            無
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="order.info.ship_status" value="notyet">
            未出貨
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="order.info.ship_status" value="shipped">
            已出貨
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="order.info.ship_status" value="canceled">
            取消出貨
          </label>
          <label class="radio-inline">
            <input type="radio" ng-model="order.info.ship_status" value="error">
            狀態有問題
          </label>
        </td>
      </tr>
      <tr>
        <th>寄出出貨通知時間</th>
        <td colspan="3">如何決定？</td>
      </tr>
      <tr>
        <th>宅配 / 掛號單號：</th>
        <td>
          <input type="text" class="form-control"
                 ng-model="order.info.ship_id" placeholder="請輸入單號">
        </td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <th>發票號碼</th>
        <td>
          <input type="text" class="form-control"
                 ng-model="order.info.receipt_id" placeholder="請輸入發票號碼">
        </td>
        <td colspan="2"></td>
      </tr>
      <tr>
        <th>發票捐贈</th>
        <td colspan="3">
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="order.info.donated">捐出去了</label>
        </td>
      </tr>
      <tr>
        <th>客服備註</th>
        <td colspan="3">
          <textarea class="form-control" rows="5" ng-model="order.info.ship_notes"></textarea>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-center">
          <button type="button" class="btn btn-info" ng-click="order.save()">儲存資料</button>
        </td>
      </tr>
      <tr>
        <th colspan="4" class="text-center">出貨資訊</th>
      </tr>
      <tr>
        <th>收件者姓名</th>
        <td>{{order.info.receiver_name}}</td>
        <th>所在國家</th>
        <td>{{order.info.country}}</td>
      </tr>
      <tr>
        <th>收件者 E-Mail</th>
        <td>{{order.info.receiver_email}}</td>
        <th>居住城市</th>
        <td>{{order.info.city}}</td>
      </tr>
      <tr>
        <th>收件者電話</th>
        <td>{{order.info.receiver_phone}}</td>
        <th>居住區域</th>
        <td>{{order.info.area}}</td>
      </tr>
      <tr>
        <th>想說的話</th>
        <td>{{order.info.wanttosay}}</td>
        <th>郵遞區號</th>
        <td>{{order.info.postcode}}</td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <th>收件者地址</th>
        <td>{{order.info.receiver_address}}</td>
      </tr>
      <tr>
        <th colspan="4" class="text-center">贊助細節</th>
      </tr>
      <tr>
        <th>專案</th>
        <td>沃草給我錢計畫</td>
        <th>回饋項目</th>
        <td>棒球紀念組</td>
      </tr>
      <tr>
        <th>數量</th>
        <td>{{order.info.amount}}</td>
        <th>回饋價格</th>
        <td>500</td>
      </tr>
      <tr>
        <th>額外贊助</th>
        <td>{{order.info.extra}}</td>
        <th>總金額</th>
        <td>{{order.info.cost}}</td>
      </tr>
      <tr>
        <th colspan="4" class="text-center">自訂欄位</th>
      </tr>
      <tr>
        <th>自訂欄位 1</th>
        <td>暱</td>
        <th>自訂欄位 2</th>
        <td>人生勝利組</td>
      </tr>
      <tr>
        <th>自訂欄位 3</th>
        <td>我不知道</td>
        <th>自訂欄位4</th>
        <td>要捐發票</td>
      </tr>
    </table>
  </div>
</div>
