<div class="container">
  <div class="row">
    <h1 class="padding-down">匯入訂單</h1>
    <div class="col-md-6">
      <div class="form-group">
        <label for="importexcel">選擇檔案</label>
        <input type="file" accept=".xlsx,.xls" name="importexcel"
               onchange="angular.element(this).scope().orderimport.fileChanged(this.files);">
      </div>
      <div class="form-group">
        <label for="importexcel">選擇工作表</label>
        <select class="form-control"
                ng-change="orderimport.updateItems()"
        	      ng-model="orderimport.selectedSheetName"
                ng-options="sheetName as sheetName for (sheetName, sheetData) in orderimport.sheets">
          <option value="">-----------</option>
        </select>
      </div>
      <button type="button" class="btn btn-default"
              ng-click="orderimport.uploadSheet()">同步至資料庫</button>
      <h3 ng-show="orderimport.uploading">同步中，請稍候～</h3>
    </div>
  </div>
</div>
