<div class="container">
  <div class="row">
    <h1 class="padding-down">訂單管理</h1>
    <div class="col-md-6">
      <form class="form form-inline">
        <div class="form-group padding-down">
          <label for="search">搜尋</label>
          <input type="text" class="form-control" name="search" id="search"
                 placeholder="請輸入關鍵字" ng-model="orders.searchText">
        </div>
      </form>
    </div>
    <div class="col-md-6 padding-down">
      <button type="button" class="btn btn-default">全部訂單</button>
      <button type="button" class="btn btn-default">尚未出貨</button>
      <button type="button" class="btn btn-default">已出貨</button>
      <button type="button" class="btn btn-default">付款成功</button>
      <button type="button" class="btn btn-default">等待付款</button>
      <button type="button" class="btn btn-default">付款失敗</button>
  </div>
    <table class="table table-striped table-bordered">
      <tr>
        <th>金流單號</th>
        <th>贊助者姓名</th>
        <th>贊助者Email</th>
        <th>付款狀態</th>
        <th>出貨狀態</th>
        <th>付款時間</th>
      </tr>
      <tr ng-repeat="order in (orders.currentMemberList | limitTo: orders.pageSize)">
        <td><a ui-sref="order({orderId: '{{order.id}}'})">{{order.id}}</a></td>
        <td>{{order.sponsor_name}}</td>
        <td>{{order.sponsor_email}}</td>
        <td>{{order.status}}</td>
        <td>{{order.ship_status}}</td>
        <td>{{order.pay_time}}</td>
      </tr>
    </table>
    <uib-pagination
      class="pagination-sm"
      total-items="orders.list.length"
      items-per-page="orders.pageSize"
      max-size="orders.maxSize"
      boundary-links="true"
      ng-model="orders.currentPage">
    </uib-pagination>
  </div>
</div>
