<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{coupon.info.name}}</h2>
        </div>
        <div class="panel-body">
          <form name="infoForm" class="form-horizontal" novalidate>
            <div class="form-group">
              <label class="col-sm-2 control-label">封面圖片<br>450x300</label>
              <img class="col-sm-6" ng-src="{{coupon.cover}}">
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">名稱</label>
              <div class="col-sm-6 has-feedback"
                   ng-class="{'has-success': infoForm.name.$valid,
                              'has-warning': infoForm.name.$invalid}">
                <input type="text" id="name" name="name"
                       class="form-control" placeholder="請輸入優惠名稱"
                       ng-model="coupon.info.name" ng-maxlength="40"
                       autocomplete="off" required>
                </input>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': infoForm.name.$valid,
                                 'glyphicon-remove': infoForm.name.$invalid}"
                      aria-hidden="true">
                </span>
              </div>
              <div class="col-sm-4 text-danger"
                   ng-show="infoForm.name.$invalid">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入優惠名稱
              </div>
            </div>
            <div class="form-group">
              <label for="intro" class="col-sm-2 control-label">詳細內容</label>
              <div class="col-sm-6 has-feedback"
                   ng-class="{'has-success': infoForm.intro.$valid,
                              'has-warning': infoForm.intro.$invalid}">
                <textarea id="intro" name="intro" class="form-control"
                          ng-model="coupon.info.intro" rows="4"
                          ng-minlength="20" ng-maxlength="1000"
                          placeholder="請輸入優惠詳細內容"
                          autocomplete="off" required>
                </textarea>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': infoForm.intro.$valid,
                                 'glyphicon-remove': infoForm.intro.$invalid}"
                      aria-hidden="true">
                </span>
              </div>
              <div class="col-sm-4 text-danger"
                   ng-show="infoForm.intro.$invalid">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入詳細內容
              </div>
            </div>
            <div class="form-group">
              <label for="start_time" class="col-sm-2 control-label">優惠期間</label>
              <div class="col-sm-3">
                <p class="input-group">
                  <input type="text" name="start_time" class="form-control"
                         uib-datepicker-popup="yyyy/MM/dd"
                         ng-model="coupon.info.start_time"
                         is-open="coupon.startOpened"
                         max-date="coupon.timeOption.max"
                         datepicker-options="coupon.dateOptions"
                         ng-required="true" close-text="Close"
                         alt-input-formats="coupon.altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="coupon.startOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div class="col-sm-3">
                <p class="input-group">
                  <input type="text" name="end_time" class="form-control"
                         uib-datepicker-popup="yyyy/MM/dd"
                         ng-model="coupon.info.end_time"
                         is-open="coupon.endOpened"
                         max-date="coupon.timeOption.max"
                         datepicker-options="coupon.dateOptions"
                         ng-required="true" close-text="Close"
                         alt-input-formats="coupon.altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="coupon.endOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div class="col-sm-4 text-danger">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                優惠期間有誤，時間需為一年內
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-info">確定</button>
      </div>
    </div>
  </div>
</div>
