<div id="all">
  <h1 class="ltitle">【沃草網站管理後台】</h1>
    <div id="login">
      <h1>帳號</h1>
    <p>
      <input id="admin_id" name="admin_id" type="text"
        maxlength="50" ng-model="login.username" autofocus>
    </p>
    <h1>密碼</h1>
    <p>
      <input id="admin_pw" name="admin_pw" type="password"
        maxlength="50" ng-model="login.password">
    </p>
    <div ng-if="login.isLoginFail">登入不成功。請檢查帳號密碼。</div>
    <img ng-src="{{login.loginBtnImg}}" width="81" height="35" id="login_btn" ng-click="login.verifyUser()">
  </div>
</div>
