<div class="container">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="signin">
        <form>
          <h2 class="signin-heading">店家後台</h2>
          <input id="username" name="username" type="text"
            class="form-control" maxlength="50" placeholder="帳號"
            ng-model="login.username" autofocus>
          <input id="password" name="password" type="password"
            class="form-control" maxlength="50" placeholder="密碼"
            ng-model="login.password">
          <button class="btn btn-danger btn-block" ng-click="login.verifyUser()">登入</button>
          <div ng-if="login.isLoginFail">登入不成功。請檢查帳號密碼。</div>
          <!-- <div ng-if="isInvalid">無此帳號，或帳號已失效。</div> -->
        </form>
        <!-- <div class="forget-pwd">
          <u>忘記密碼?</u>
        </div> -->
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
