<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{attr.info.name}}</h2>
        </div>
        <div class="panel-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">封面圖片<br>450x300</label>
              <img class="col-sm-6" ng-src="{{attr.cover}}">
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">名稱</label>
              <div class="col-sm-6">
                <input type="text" id="name" class="form-control"
                       ng-model="attr.info.name" ng-maxlength="40"
                       placeholder="請輸入景點名稱"
                       autocomplete="off" required>
                </input>
              </div>
              <div class="col-sm-4 text-danger">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入景點名稱，40字以下
              </div>
            </div>
            <div class="form-group">
              <label for="intro" class="col-sm-2 control-label">介紹</label>
              <div class="col-sm-6">
                <textarea id="intro" class="form-control" rows="4"
                          ng-model="attr.info.intro"
                          placeholder="請輸入景點介紹"
                          ng-minlength="20" ng-maxlength="1000"
                          autocomplete="off" required>
                </textarea>
              </div>
              <div class="col-sm-4 text-danger">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入景點介紹
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="col-sm-2 control-label">地址</label>
              <div class="col-sm-6">
                <input type="text" id="address" class="form-control"
                       ng-model="attr.info.address"
                       placeholder="請輸入景點地址"
                       autocomplete="off" required>
                </input>
              </div>
              <div class="col-sm-4 text-danger">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入正確景點地址
              </div>
            </div>
            <div class="form-group">
              <label for="url" class="col-sm-2 control-label">網址</label>
              <div class="col-sm-6">
                <input type="text" id="url" class="form-control"
                       ng-model="attr.info.url"
                       placeholder="請輸入景點網址"
                       autocomplete="off">
                </input>
              </div>
              <div class="col-sm-4 text-danger">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入正確網址
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-info">確定</button>
      </div>
    </div>
  </div>
</div>
