<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{attr.info.name}}</h2>
        </div>
        <div class="panel-body">
          <form name="infoForm" class="form-horizontal" novalidate>
            <div class="form-group">
              <label class="col-sm-2 control-label">封面圖片<br>450x300</label>
              <img class="col-sm-6" ng-src="{{attr.cover}}">
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">名稱</label>
              <div class="col-sm-6 has-feedback"
                   ng-class="{'has-success': infoForm.name.$valid,
                              'has-warning': infoForm.name.$invalid}">
                <input type="text" id="name" name="name"
                       class="form-control" placeholder="請輸入景點名稱"
                       ng-model="attr.info.name" ng-maxlength="40"
                       autocomplete="off" required>
                </input>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': infoForm.name.$valid,
                                 'glyphicon-remove': infoForm.name.$invalid}"
                      aria-hidden="true">
                </span>
              </div>
              <div class="col-sm-4 text-danger"
                   ng-show="infoForm.name.$invalid">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入景點名稱，40字以下
              </div>
            </div>
            <div class="form-group">
              <label for="intro" class="col-sm-2 control-label">介紹</label>
              <div class="col-sm-6 has-feedback"
                   ng-class="{'has-success': infoForm.intro.$valid,
                              'has-warning': infoForm.intro.$invalid}">
                <textarea id="intro" name="intro" class="form-control"
                          ng-model="attr.info.intro" rows="4"
                          placeholder="請輸入景點介紹"
                          ng-minlength="20" ng-maxlength="1000"
                          autocomplete="off" required>
                </textarea>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': infoForm.intro.$valid,
                                 'glyphicon-remove': infoForm.intro.$invalid}"
                      aria-hidden="true">
                </span>
              </div>
              <div class="col-sm-4 text-danger"
                   ng-show="infoForm.intro.$invalid">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入景點介紹
              </div>
            </div>
            <div class="form-group">
              <label for="address" class="col-sm-2 control-label">地址</label>
              <div class="col-sm-6 has-feedback"
                   ng-class="{'has-success': infoForm.address.$valid,
                              'has-warning': infoForm.address.$invalid}">
                <input type="text" id="address" name="address"
                       class="form-control" placeholder="請輸入景點地址"
                       ng-model="attr.info.address"
                       autocomplete="off" required>
                </input>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': infoForm.address.$valid,
                                 'glyphicon-remove': infoForm.address.$invalid}"
                      aria-hidden="true">
                </span>
              </div>
              <div class="col-sm-4 text-danger"
                   ng-show="infoForm.address.$invalid">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入正確景點地址
              </div>
            </div>
            <div class="form-group">
              <label for="url" class="col-sm-2 control-label">網址</label>
              <div class="col-sm-6 has-feedback"
                   ng-class="{'has-success': infoForm.url.$valid,
                              'has-warning': infoForm.url.$invalid}">
                <input type="text" id="url" name="url"
                       class="form-control" ng-model="attr.info.url"
                       placeholder="請輸入景點網址" autocomplete="off">
                </input>
                <span class="glyphicon form-control-feedback"
                      ng-class="{'glyphicon-ok': infoForm.url.$valid,
                                 'glyphicon-remove': infoForm.url.$invalid}"
                      ng-show="infoForm.url.$dirty && !!attr.info.url"
                      aria-hidden="true">
                </span>
              </div>
              <div class="col-sm-4 text-danger"
                   ng-show="infoForm.url.$invalid">
                <i class="glyphicon glyphicon-exclamation-sign"></i>
                需輸入正確網址
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-info">確定</button>
      </div>
    </div>
  </div>
</div>
