<div id="side_menu">
  <div class="side_block">
    <h4 ui-sref-active="active"><a ui-sref="home">後台管理首頁</a></h4>
  </div>
  <div class="side_block">
    <h4>訂單與會員</h4>
    <ul>
      <li ui-sref-active="active"><a ui-sref="members">贊助者名單管理</a></li>
      <li ui-sref-active="active"><a ui-sref="orders">訂單管理</a></li>
      <li ui-sref-active="active"><a ui-sref="orderexport">匯出訂單</a></li>
      <li ui-sref-active="active"><a ui-sref="orderimport">匯入訂單</a></li>
    </ul>
  </div>
  <div class="side_block">
    <h4 ui-sref-active="active"><a ui-sref="password">管理員密碼設定</a></h4>
    <button type="button" ng-click="navbar.logout()" ng-show="navbar.isLoggedIn">登出</button>
  </div>
</div>
