@charset "utf-8";
/*共同樣式*/
body{
	margin:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:15px;
	background:url(../assets/imgs/aside.gif) -150px top repeat-y;}
#view_page,#longin_page{
	background:none;}
a{
	color:#498a13;
	text-decoration:none;}
a:hover{
	text-decoration:underline;}
a img{
	border:none;}
#all {
}
#header{
	height:36px;
	position:relative;
	line-height:36px;
	margin-bottom:10px;
	background:url(../assets/imgs/hbar.gif) no-repeat;
	text-align:center;
	margin-top:5px;}


#content_wrap{
	overflow:hidden;
	_height:1%;
	width:1000px;
	}

#main{
	overflow:hidden;
	_height:1%;
	}

.inner{
	float:right;
	width:850px;
	}
#side_menu{
	float:left;
	width:150px;
	padding-bottom:5000px;
	margin-bottom:-5000px;
	font-size:13px;
}
#side_menu a{
	color:#000;}

#side_menu h4{
	font-size:13px;
	height:24px;
	line-height:24px;
	padding-left:10px;}
#side_menu li{
	height:24px;
	line-height:24px;
	}
#side_menu li.select,#side_menu h4.select{
	background:url(../assets/imgs/aside_select.gif) -115px top no-repeat;}
#side_menu li.select a,#side_menu h4.select a{
	color:#fff;}
.side_block{
	background:url(../assets/imgs/aside_line.gif) no-repeat -150px bottom;
	padding:7px 0px;}
.side_block li a{
	display:block;
	padding-left:10px;
	width:115px;
	}
.side_block h4 a{
	display:block;
	width:115px;}
#footer{
	clear:both;
	margin-top:10px;
	}
.f_info{
background:#7bc142;
	line-height:24px;
	color:#fff;
	text-align:center;
	font-size:13px;
	letter-spacing:1px;
	}
.to_top{
	width:1000px;
	margin:auto;
	overflow:hidden;
	}
.to_top a{
	text-decoration:none;
	display:block;
	width:50px;
	line-height:25px;
	text-align:center;
	background-color:#999;
	color:#FFF;
	font-size:12px;
	float:right;}
.input_01{
	width:650px;
	height:100px;}
.input_02{
	width:99%;
	height:450px;}
.input_03{
	width:97%;
}
.input_04{
	width:95%;}
.input_05{
	height:200px;}
.input_06{
	width:99%;
	height:150px;}
.input_07{
	height:50px;}
.input_08{
	width:100px;}
.input_09{
	width:95%;
	height:600px;}
.input_10{
	width:99%;
	height:250px;}
.input_11{
	width:99%;
	height:80px;}
.input_12{
	width:15px;
	}
.input_13{
	width:35px;
	}
.input_14{
	width:170px;
	}
.input_date{
	width:155px;}
.input_shot{
	width:20px;
	}
.submit{
	background:url(../assets/imgs/submit.gif) no-repeat;
	color:#fff;
	border:none;
	width:90px;
	height:45px;
	cursor:pointer;
	font-size:16px;
	letter-spacing:2px;}
.back{
	background:url(../assets/imgs/back.gif) no-repeat;
	color:#333;
	border:none;
	width:120px;
	height:45px;
	cursor:pointer;
	font-size:16px;
	letter-spacing:2px;}
em.top{
	font-style:normal;
	font-weight:bold;
	color:#C00;}
.s_note{
	color:#C00;
	font-size:13px;
	font-style:normal;}


/*頁碼*/
#page{
	padding:0px;
	overflow:hidden;
	}
#page ul{
	float:right;}
#page li{
	width:20px;
	height:20px;
	line-height:20px;
	border:1px solid #7bc142;
	font-size:12px;
	text-align:center;
	float:left;
	margin:0 2px 0 0;
	list-style:none;}

#page .more{
	width:55px;}
#page li a{
	display:block;
	color:#7bc142;
	text-decoration:none;}
#page .select a{
	background:#7bc142;
	color:#fff;}


/*登入頁*/
#login_title{
	margin:0 0 25px 0;
	text-align:center;
	font-size:26px;
	letter-spacing:4px;
	color:#999;}
#login h1{
	text-indent:-4000px;
	}

#login{
	overflow:hidden;
	width:519px;
	height:235px;
	background:url(../assets/imgs/login.jpg);
	margin:15px auto 30px auto;
	position:relative;
	}
.ltitle{
	text-align:center;
	margin-top:30px;
	font-size:28px;
	letter-spacing:2px;
	color:#666;}
#admin_id,#admin_pw{
	width:237px;
	height:35px;
	font-size:28px;
	padding:5px 5px 10px 12px;
	background:url(../assets/imgs/login_input.gif) no-repeat;
	border:none;
	}
#admin_id{
	position:absolute;
	left:245px;
	top:57px;
	}
#admin_pw{
	position:absolute;
	left:245px;
	top:113px;}
#login_btn{
	display:block;
	position:absolute;
	right:42px;
	bottom:25px;
	border:none;}



/*表格樣式*/
table{
	margin:0 0 10px 0;
	font-size:15px;
	border-collapse:collapse;
	border:1px solid #CCC;}
table th{
	background:#e9e9e9;
	color:#666;}
table th,table td{
	border:1px solid #CCC;}
table td th{
	text-align:center;}
.intable{
	border:none;}

.intable th{
	background:#e1e1e1;
	border:none;
	border-bottom:3px solid #fff;}
.intable td{
	background:#f5f5f5;
	border:none;
	border-bottom:3px solid #fff;}

.inner h1{
	font-size:30px;
	background:url(../assets/imgs/hbg.gif) no-repeat;
	padding:0 0 20px 40px;
	margin:0px;
	font-family:新細明體;
	}

.btn{
	text-align:right;
	clear:both;
	margin-bottom:10px;}
.btn2{
	width:95%;
	text-align:center;}
/*檢視頁面*/
#view_page{
	line-height:1.8em;}
.view_hint{
	font-size:13px;
	background:#f7f9da;
	text-align:center;
	color:#7d8315;
	font-weight:bold;}
/*提示文字*/
.hint{
	padding:5px;
	text-align:center;
	color:#600;
	background:#FFC;
	border:#F90 1px solid;
	margin-bottom:10px;}
/*首頁管理*/
.ifree .hfix{
	height:50px;}
/*公司簡介*/
.company_input .hfix{
	height:400px;}
.replay .hfix{
	height:400px;}
/*最新文章管理 新增最新文章*/
.news_input .hfix{
	height:300px;}
/*批次操作*/
#operate_bar{
	position:relative;}
.obtn{
	position:absolute;
	right:0px;
	bottom:22px;}
#operate_bar a{
	display:block;
	background:url(../assets/imgs/btn_02.gif);
	width:78px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#fff;
	float:left;
	margin-left:4px;
	font-size:13px;}
#search_bar{
	padding:15px;
	margin-bottom:5px;
	background:#ececec;
	border:1px solid #ccc;}
#search_bar　input{
	}
#search_bar.search_bar_fix{
	background:url(../assets/imgs/sbar2.gif) no-repeat;
	padding:8px 0 0 0;
	margin-bottom:20px;
	height:auto;}
#search_bar_inner{
	background:url(../assets/imgs/sbar2.gif) no-repeat left bottom;
	padding:0 12px 8px 12px;}
/*聯絡我們*/
table.replay{
	margin-bottom:22px;}
.replay td{
	line-height:1.8em;
	letter-spacing:1px;}
.reply_block{
	background:#f6f6f6;
	margin-bottom:5px;
	padding:5px;}
.reply_form .submit,.replay input.delete{
	background:url(../assets/imgs/btn_02.gif);
	width:78px;
	height:30px;
	color:#fff;
	border:none;}
.reply_form textarea{
	width:560px;
	height:150px;}
.re_td .re{
	display:block;
	background:#7bc142;
	color:#fff;
	width:80px;
	text-align:center;}
.reply_time{
	color:#666;
	font-size:13px;
	padding:3px;
	line-height:1em;
	text-align:right;}
.contact_bar{
	height:40px;
	clear:both;}
.contact_bar .obtn{
	bottom:55px;}
.contact_mail{
	float:left;
	line-height:30px;
	margin-right:5px;
	}
/*新增旋梭*/
.p_content .add{
	color:#fff;
	background:#7bc142;
	display:block;
	font-weight:normal;
	width:70px;
	text-align:center;
	line-height:1.7em;
	float:left;
	margin-right:2px;}
/*新增送料*/
.set_list img{
	float:left;
	margin-right:5px;}
.lblock01{
	background:#f1f1f1;
	margin-bottom:3px;
	padding:3px;
	width:80%;
	float:right;}
.lblock02{
	background:#f1f1f1;
	margin-bottom:3px;
	padding:3px;}
/*管理首頁*/
.lhint{
	text-align:center;
	font-size:15px;
	color:#C00;
	font-weight:bold;}
.lselect{
	text-align:center;
	margin-top:7px;}
#admin_info{
	font-size:13px;background:#f1f1f1;line-height:1.6em;padding:5px 10px;margin-top:8px;}
#admin_info h6{font-size:15px;}
#admin_info ul{margin-left:7px;padding-left:7px;}
/*隱藏會員搜尋*/
.memebr_sbar{
	display:none;}
/*首頁動態展示 標籤切換*/
.sort_tag{
	margin-bottom:5px;}
.sort_tag ul{
	overflow:hidden;
	border-bottom:5px solid #bdd0f8;}
.sort_tag li{
	float:left;
	margin-right:5px;}
.sort_tag li a{
	display:block;
	padding:5px 15px;
	background:#f1f1f1;
	color:#000;
	}
.sort_tag li.select a{
	background:#bdd0f8;
	}
/*11-23新增的樣式 start*/
/*文章分類管理*/

.s_sort ol{
	padding:0 0 0 25px;
	margin:0 0 0 25px;
	list-style-type:decimal;}
/*11-23新增的樣式 end*/

.count_all td{
	background:#e9e9e9;}

.even td{
	background:#d3f6b5;
}

.redword{
	color:#FF0000;}
/*0116新增樣式*/
.ppnote{
	font-size:13px;
	font-weight:bold;
	color:#900;}
.pro_snumber{
	font-size:12px;
	color:#999999;}
/*0604新增樣式*/
.index_table a{
	color:#FF0000;
	text-decoration:underline;}
.report-table td,.report-table th{
	font-size:13px;}

.break{word-break:break-all;}

.subPrdEvent{
	color:#999999;}
.subPrd{
	color:#66C;}
.flagRedBG {
background: #FF0000;
color: #FFFFFF;
font-weight: bold;
padding: 1px 3px 1px 3px;
}
