<div class="container">
  <div class="row">
    <h1 class="padding-down">管理員密碼變更</h1>
    <div class="col-md-4">
      <div class="form-group">
        <label for="oldpwd">帳號</label>
        <input type="text" class="form-control" id="account" name="account"
               ng-model="pwd.account" placeholder="請輸入帳號">
      </div>
      <div class="form-group">
        <label for="oldpwd">舊密碼</label>
        <input type="password" class="form-control" id="oldpwd" name="oldpwd"
               ng-model="pwd.oldpwd" placeholder="請輸入舊密碼">
      </div>
      <div class="form-group">
        <label for="newpwd">新密碼</label>
        <input type="password" class="form-control" id="newpwd" name="newpwd"
               ng-model="pwd.newpwd" placeholder="請輸入新密碼">
      </div>
      <button type="button" class="btn btn-success" ng-click="pwd.changePwd()">確定</button>
    </div>
  </div>
</div>
