<div class="container">
  <div class="row">
    <h1 class="padding-down">贊助者名單管理</h1>
    <div class="col-md-6">
      <form class="form form-inline">
        <div class="form-group padding-down">
          <label for="search">搜尋</label>
          <input type="text" class="form-control" name="search" id="search"
                 placeholder="請輸入關鍵字" ng-model="members.searchText">
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-default pull-right" filename="members.csv"
              csv-column-order="members.columnOrder"
              csv-header="members.columnHead"
              ng-csv="members.exportMembers()">
      匯出全部訂單
      </button>
    </div>
    <div>
      <table class="table table-striped table-bordered">
        <tr>
          <th>贊助者姓名</th>
          <th>贊助者email</th>
          <th>收件者電話</th>
          <th>所在國家</th>
          <th>居住城市</th>
          <th>郵遞區號</th>
          <th>收件者姓名</th>
          <th>收件者email</th>
          <th>收件者地址</th>
        </tr>
        <tr ng-repeat="member in (members.currentMemberList | limitTo: members.pageSize)">
          <td>{{member.sponsor_name}}</td>
          <td>{{member.sponsor_email}}</td>
          <td>{{member.receiver_phone}}</td>
          <td>{{member.nation}}</td>
          <td>{{member.city}}</td>
          <td>{{member.postcode}}</td>
          <td>{{member.receiver_name}}</td>
          <td>{{member.receiver_email}}</td>
          <td>{{member.address}}</td>
        </tr>
      </table>
      <uib-pagination
        class="pagination-sm"
        total-items="members.list.length"
        items-per-page="members.pageSize"
        max-size="members.maxSize"
        boundary-links="true"
        ng-model="members.currentPage">
      </uib-pagination>
    </div>
  </div>
</div>
